{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rent a book</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'rentalapp/styles.css' %}" />

</head>

<body>
    <nav class="grey darken-2">
        <div class="container nav-wrapper">
            <a href="/" class="brand-logo">Rentalapp</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/">Home</a></li>
                <li><a href="/description/">Description</a></li>
            </ul>
        </div>
    </nav>

        {% block content %}

        {% endblock %}

    </div>      


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body >
</html>